.canvas{
  position: absolute;
  top:0;
  left:0;
  background-color: white;
}
.Box{
  background-color: rgb(65, 121, 226);
}
button:hover {
  background-color: #7AB2D3;
}
.FORM{
   position: relative;
   top:-5px;
   left:0;
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #4A628A;
}
.Input{
    width:25%;
    height:30px;
    border: 3px solid #113946;
    border-radius: 10px;
  }
.bottom_box{
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: center;
  width:100%;
  height:250px;
  background-color: #4A628A;
}
.para{
  position: relative;
  display: flex;
  justify-content: center;
  top :0;
  width:214px;
  font-size: 25px;
  font-family:'Franklin Gothic Medium';
}
.last_p{
  top :0;
  left:0;
  display: flex;
  justify-content: space-around;
  font-family:'Franklin Gothic Medium';
  width:200px;
  font-size: 25px;
}
.rain_c{
  background-color:#3f5986;
}
